<section>
    <div class="bg bg-[url('./assets/images/audience-bg.jpg')] w-screen  relative pt-[5rem] px-2 h-full">
        <div class="overlay absolute w-full h-full bg-black/50 top-0 right-0 z-0"></div>
        <div class="overlay img1 absolute z-1 bg bg-[url('./assets/icons/user-bg-overlay.svg')] w-full h-full top-0 right-0 z-1" ></div>
        <section class=" relative z-2">

        
        <div class="relative flex flex-col gap-[24px] justify-center items-center z-2 mb-[1rem]">
            <p class="text-sm text-white px-3 py-2 bg-gray-800 rounded-[50px] font-medium text-center
            ">Powering Collaboration Across Media</p>
            <h1 class="text-4xl text-center">Collaborate. Elevate. Succeed</h1>
            <p class="md:w-[50%] m-auto text-center">Empower advertisers, agencies, and media owners to work seamlessly.</p>
            <button class="border border-solid rounded-[10px] border-gray-500 px-[2.5rem] py-3 meetExpert cursor-pointer">Meet the Experts</button>
        </div>
        <div class="gradient-primary w-[80%] m-auto rounded-[20px] px-[5rem] py-[2rem] z-2">
            <div class="flex md:flex-row flex-col justify-between items-center gap-[2rem]">
                <div class="flex flex-col gap-2">
                    <h2 class="text-white font-semibold text-center text-4xl counter1" #counter1>110+</h2>
                    <p class="text-sm text-base text-center text-white">Top Agencies Trust Media LaCarte</p>
                </div>
                <div class="flex flex-col gap-2">
                    <h2 class="text-white font-semibold text-center text-4xl counter2" #counter2>1M</h2>
                    <p class="text-sm text-base text-center text-white">Advertisers Reaching the Right Audience</p>
                </div>
                <div class="flex flex-col gap-2">
                    <h2 class="text-white font-semibold text-center text-4xl counter3" #counter3>98.99%</h2>
                    <p class="text-sm text-base text-center text-white">Seamless Media Transactions for Owners</p>
                </div>

        </div>
    </div>
    <div class="overlay relative w-full overflow-hidden z-2 h-[50vh] md:h-auto" >
        <img src="assets/icons/user-img.svg" alt="user" class="w-full object-contain h-[200%]  md:-mt-[45%] -mt-[85%]">
    </div>

</section>
    </div>
</section>