<div class="pt-[50px] bg-[url(./assets/images/hero-bg.jpg)] bg-center  w-screen bg-no-repeat bg-cover relative mb-[4rem] md:mb-[8rem] ">
  <div class="bg-black/80 w-full h-full absolute top-0 left-0"></div>
  <div class="relative z-10 ">
    <p class="uppercase text-sm text-gray-400 text-center mb-8">#1 Media Marketplace for Advertisers & Agencies </p>
    <section class="text-center overflow-hidden h-[8rem]">
      <h1 #heroText class="text-white text-2xl md:text-6xl font-semibold">Bigger Impact</h1>
      <h1 #heroText class="text-white text-2xl md:text-6xl font-semibold">Stronger Campaigns</h1>
      <h1 #heroText class="text-white text-2xl md:text-6xl font-semibold">Smarter Media Buying</h1>
    </section>
    <!-- <section> -->
     <div class="w-5/6  relative m-auto hero-img">
       <!-- Top left button -->
       <button class="icon absolute top-0 md:top-2 left-0 text-[10px] md:text-base py-[0.3rem] w-[35%] h-15% md:py-[1.5rem] gradient-primary primary-gradient-btn hero-btn text-white cursor-pointer rounded-[50px] z-10">
         Start your journey!
       </button>

       <img src="assets/images/hero-image.png" alt="hero"  class="w-full  object-center">

       <!-- Bottom right button -->
       <button class=" icon absolute flex items-center justify-center gap-2 w-[20%] bottom-0 md:bottom-2 py-[0.33rem] md:py-[0.8rem] right-[5%] gradient-outline text-[5px] md:text-lg md:text-base text-white cursor-pointer rounded-[50px] z-10">
       <img class="w-[10px] md:w-[18px]" src="assets/icons/play-circle.svg" alt="play" > Learn More
       </button>

     </div>
    <!-- </section> -->
  </div>

</div>
<div class="moving-text-parent relative ">
<div class=" moving-text-container rotate-[-9deg] md:rotate-[-5deg] overflow-hidden absolute z-2 h-[5rem]" id="page1">
  <div class="relative gradient-primary text-black overflow-hidden" id="move">
    <div #textWrapper class="moving-text-wrapper  md:py-[1rem] py-[0.5rem] flex items-center whitespace-nowrap">
      <div class="moving-text shrink-0 pr-8">
        <h1 class="md:text-2xl text-black">Coming soon: Smarter media solutions for agencies and media owners!</h1>
      </div>
      <div class="moving-text shrink-0 pr-8">
        <h1 class="md:text-2xl text-black">Coming soon: Smarter media solutions for agencies and media owners!</h1>
      </div>
      <div class="moving-text shrink-0 pr-8">
        <h1 class="md:text-2xl text-black">Coming soon: Smarter media solutions for agencies and media owners!</h1>
      </div>
      <div class="moving-text shrink-0 pr-8">
        <h1 class="md:text-2xl text-black">Coming soon: Smarter media solutions for agencies and media owners!</h1>
      </div>
    </div>
  </div>
  </div>

<div class=" moving-text-container-2 rotate-[5deg] overflow-hidden absolute z-1 h-[5rem]" id="page2">
  <div class=" gradient-secondary text-black p-2vw overflow-hidden" id="move">
    <div  class="moving-text-wrapper-2 md:py-[1rem] py-[0.5rem] flex items-center whitespace-nowrap">
      <div class="moving-text shrink-0 pr-8">
        <h1 class="md:text-2xl text-black">We simplify media buying with smarter strategies, seamless execution, and measurable impact.</h1>
      </div>
      <div class="moving-text shrink-0 pr-8">
        <h1 class="md:text-2xl text-black">We simplify media buying with smarter strategies, seamless execution, and measurable impact.</h1>
      </div>
      <div class="moving-text shrink-0 pr-8">
        <h1 class="md:text-2xl text-black">We simplify media buying with smarter strategies, seamless execution, and measurable impact.</h1>
      </div>
      <div class="moving-text shrink-0 pr-8">
        <h1 class="md:text-2xl text-black">We simplify media buying with smarter strategies, seamless execution, and measurable impact.</h1>
      </div>
    </div>
  </div>
  </div>
</div>
