<section class="mb-4">
    <div class="p-[4rem]   bg-gray-900 rounded-[20px] w-[85%] md:w-[80%] m-auto flex flex-col gap-[3rem]">
        <h1 class="text-xl md:text-4xl text-center">
            Supercharge Your Media Strategy <br> with Our 100% Efficiency
        </h1>
        <div class="flex gap-4 md:flex-row flex-col justify-center">
            <p class="flex gap-2 text-base md:text-xl items-center">
                <span class="gradient-primary p-1 rounded-full">
                    <img class="h-[10px] w-[10px] md:w-[24px] md:h-[24px]" src="assets/icons/right-icon.svg" alt="" srcset="">
                </span>
                Plan, Book, and Manage Campaigns
            </p>
            <p class="flex gap-2 text-base md:text-xl items-center">
                <span class="gradient-primary p-1 rounded-full">
                    <img class="h-[10px] w-[10px] md:w-[24px] md:h-[24px]" src="assets/icons/right-icon.svg" alt="" srcset="">
                </span>
                Maximize Reach and ROI
            </p>
        </div>
        <div>
            <button class="gradient-primary text-black px-4 py-2 rounded-[12px] text-lg m-auto block flex items-center cursor-pointer
            hover:text-white icon">
                Optimize Your Media Today <span><img src="assets/icons/arrow-right.svg" alt="" srcset=""></span>
            </button>
        </div>
    </div>
</section>