/* You can add global styles to this file, and also import other style files */
@use "tailwindcss";
// **{
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;

// }
body{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;
}
@layer components {
    .gradient-primary {
        @apply bg-gradient-to-br from-[#EF4F4F] via-[#EB3154] to-[#D9207C];
    }
    .gradient-secondary {
        @apply bg-gradient-to-br from-[#EF4F4F] via-[#EB3154] to-[#D9207C] relative;
        &::before {
            content: '';
            @apply absolute inset-0 bg-black/30; /* 30% black overlay */
        }
    }
      .gradient-text {
        @apply bg-gradient-to-br from-[#EF4F4F] via-[#EB3154] to-[#D9207C] bg-clip-text text-transparent;
    }
    .gradient-outline{
        @apply bg-gradient-to-br from-[#EF4F4F] via-[#EB3154] to-[#D9207C] bg-clip-text text-transparent border-2;
    }
}
.gradient-outline {
  color: white;
  // background: transparent;

 &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50px;
    border: 1px solid transparent;
    background: linear-gradient(145.58deg, #EF4F4F 4.18%, #EB3154 52.09%, #D9207C 100%);
    -webkit-mask:
        linear-gradient(#fff 0 0) padding-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
  }
}

.bg{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
